@import "../../assets/styles/base.css";

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  position: relative;
}

.Form.overlay {
  background-color: var(--right-panel-bg);
  color: var(--dark-brown-bg);
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 603.44px;
  height: 0;
  padding: 50px 15px 70px;
  transition: 0.5s ease;
}

.overlay h1 {
  text-align: center;
}

.overlay a {
  color: var(--dark-brown-bg);
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
  .App {
    flex-direction: row;
  }

  .Form.overlay {
    top: 0;
    left: 420px;
    height: 100%;
    padding: 50px 50px 0;
  }
}
